{% extends 'movies/base.html' %}

{% block title %}영화 정보 수정{% endblock %}
{% block body %}
    <br>
    <div class="container">
        <h1 class='text-center'>영화 정보 수정</h1>
        <hr>
        <form action="{% url 'movies:update' movie.pk %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    제목 : <input type="text" class="form-control" id="usr" name="title" value="{{ movie.title }}">
            </div>
            <div class="form-group">
                    제목(영문) : <input type="text" class="form-control" id="usr" name="title_en" value="{{ movie.title_en }}">
            </div>
            <div class="form-group">
                    관람객 : <input type="number" class="form-control" id="usr" name="audience" value="{{ movie.audience }}">
            </div>
            <div class="form-group">
                    개봉일 : <input type="date" class="form-control" id="usr" name="open_date" value="{{ movie.open_date|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
                    장르 : <input type="text" class="form-control" id="usr" name="genre" value="{{ movie.genre }}">
            </div>
            <div class="form-group">
                    연령대 : <input type="text" class="form-control" id="usr" name="watch_grade" value="{{ movie.watch_grade }}">
            </div>
            <div class="form-group">
                    점수 : <input type="number" class="form-control" id="usr" step="0.01" name="score" value="{{ movie.score }}">
            </div>
            <div class="form-group">
                    URL : <input type="text" class="form-control" id="usr" name="poster_url" value="{{ movie.poster_url }}">
            </div>
            <div class="form-group">
                    줄거리 : <textarea name="description" class="form-control" id="usr" cols="50" rows="10" value="{{ movie.description }}">{{ movie.description }}</textarea>
            </div>
            <input type="submit" class="btn btn-primary" id="usr" value="[수정하기]">
        </form>
        <br>
        <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">[뒤로가기]</a>
        <hr>
    </div>
{% endblock %}