<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style>
        #greeting {
            margin-right: 10px;
            text-decoration: none;
            font-weight: bold;
        }
        .nav-item {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Navbar text-->
                <a id="greeting" href ="{% url 'articles:index' %}" class="navbar-text text-white">
                    {% if user.is_authenticated %}
                        Welcome! {{ user.username }}'s Blog
                        {% else %}
                        Hello! Stranger~!
                        {% endif %}
                </a>
                    <!-- Links -->
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:edit' %}"><button class='nav-link badge badge-pill badge-primary'>회원정보 수정</button></a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'accounts:change_password' %}"><button class='nav-link badge badge-pill badge-primary'>비밀번호 변경</button></a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'accounts:logout' %}" method="POST" style='display:inline;'>
                                {% csrf_token %}
                                <button class='nav-link badge badge-pill badge-primary'>로그아웃</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'accounts:quit' %}" method="POST" style='display:inline;'>
                                {% csrf_token %}
                                <button class='nav-link badge badge-pill badge-primary'>회원탈퇴</button>
                            </form>
                        </li>
                    {% else %}
                        <a href="{% url 'accounts:signup' %}"><button class='nav-link badge badge-pill badge-primary'>회원가입</button></a>
                        <a href="{% url 'accounts:login' %}"><button class='nav-link badge badge-pill badge-primary'>로그인</button></a>
                    {% endif %}
                </ul>
            </nav>
        {% block body %}        
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>