{% extends 'articles/base.html' %}
{% load static %}

{% block title %}EDIT{% endblock %}
{% block body %}
    <h1 class='text-center'>EDIT</h1>
    {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="25%">
    {% else %}
    기존 이미지 : <img src="{% static 'articles/images/No.jpg' %}" alt="no_image" width="5%">
    {% endif %}
    <form action="/articles/{{ article.pk }}/update/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        제목: <input type="text" name="title" value="{{ article.title }}"> <br>
        내용: <textarea name="content" id="" cols="30" rows="10">{{ article.content }}</textarea> <br>
        이미지: <input type="file" name="image" accept="image/*"><br>
        <input type="submit">
    </form>
    <hr>
    <a href="/articles/{{ article.pk }}/">[뒤로가기]</a>
{% endblock %}