{% extends 'articles/base.html' %}

{% block title %}EDIT{% endblock %}
{% block body %}
    <h1 class='text-center'>EDIT</h1>
    <form action="/articles/{{ article.pk}}/update/" method="POST">
        {% csrf_token %}
        제목: <input type="text" name="title" value="{{ article.title }}"> <br>
        내용: <textarea name="content" id="" cols="30" rows="10">{{ article.content }}</textarea> <br>
        <input type="submit">
    </form>
    <hr>
    <a href="/articles/{{ article.pk }}/">[뒤로가기]</a>
{% endblock %}