{% extends 'articles/base.html' %}
{% block body %}
{% load bootstrap4 %}
{% load socialaccount %}

<h1 class='text-center'>로그인</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_button "로그인" button_class='btn btn-success btn-sm' %}
</form>
<a href="{% provider_login_url 'kakao' %}"><button class='btn btn-warning'>카카오 로그인</button></a>
<a href="{% url 'articles:index' %}"><button class='btn btn-dark'>취소</button></a>
{% endblock %}